<form #form="ngForm" (submit)="signup()" class="bg-main">
  <sh-page [headerShadow]="false" [noRefresh]="true">
    <div shHeaderContent>Sign Up</div>
    <div shHeaderLeft (click)="goBack()" *ngIf="isMobile$ | async">
      <fa-icon icon="chevron-left"></fa-icon>Back
    </div>
    <div shPageBody>
      <h1>Create Account</h1>
      <!--<h2>Enter</h2>-->
      <input type="email" tabIndex="-1" placeholder="Email" [(ngModel)]="email" name="email" required
             autocomplete="email" email class="vx-visually-hidden">

      <vx-form-field>
        <input vxFormField #input type="password" tabIndex="1" placeholder="Password" name="password" [(ngModel)]="password" required autocomplete="new-password">
      </vx-form-field>

      <vx-form-field class="mTop15">
        <input vxFormField type="password" tabIndex="2"placeholder="Confirm Password" name="confirm password" [(ngModel)]="passwordConf"
               required autocomplete="new-password" [shShouldEqual]="password" #confirm="ngModel">
      </vx-form-field>

      <h2 class="textError" *ngIf="password && passwordConf && confirm.touched && password !== passwordConf">Your passwords do not match.</h2>

      <vx-checkbox [(ngModel)]="isAdult" tabIndex="3" name="oldEnough" class="mTop15" required>
        <div>
          I agree to the <a routerLink="/terms">Terms of Conditions</a> and <a routerLink="/privacy">Privacy Policy</a> and confirm that I am at least {{ageToBe}} years of age.
        </div>
      </vx-checkbox>

      <div class="buttons" *ngIf="!(isMobile$ | async); else mobileSignup">
        <button class="light" tabIndex="4" type="button" (click)="goBack()">Back</button>
        <button class="accentGreen" tabIndex="5" [disabled]="form.invalid">Sign Up</button>
      </div>

      <ng-template #mobileSignup>
        <button class="signup accentGreen mTop15" tabIndex="4" [disabled]="form.invalid">Sign Up</button>
      </ng-template>
    </div>
</sh-page>
</form>
