@import 'vars';

:host {
  display: inline-block;
  font-size: 13px;
  flex: 1;
  //overflow: hidden;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.left {
    flex-direction: row;
    align-items: flex-start;
  }

  &.right {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.wrapper {
  position: relative;
}

vx-spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nameAndHealth {
  //overflow: hidden;
  margin: 0 5px;
}

.name {
  min-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.right .hearts {
  flex-direction: row-reverse;
}
.broken {
  animation: heartBreak 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.5s;

  @keyframes heartBreak {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 1;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
.hearts {
  color: red;
  display: flex;
  flex-wrap: wrap;
}

.heart {
  position: relative;
  margin-right: 3px;
}

.weapon {
  position: absolute;
  font-size: 22px;
  color: black;
  z-index: 1;
  top: 0;
  left: 0;
}

.axe-battle, .mace, .sword, .hammer-war, .sickle {
  animation: axe-battle 1.5s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom left;
}



@keyframes axe-battle {
  0%, 25% {
    transform: translate(-22px, -13px) rotate(20deg) scale(1.3)
  }

  45% {
    transform: translate(-24px, -11px) rotate(16deg) scale(1.35);
  }
  80% {
    transform: translate(-12px, -15px) rotate(65deg) scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-12px, -15px) rotate(65deg) scale(1);
  }
}

.scythe {
  animation: scythe 1.5s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}

@keyframes scythe {
  0%, 25% {
    transform: translate(4px, -5px) rotate(14deg);
  }

  45% {
    transform: translate(4px, -10px) rotate(20deg);
  }
  80% {
    transform: translate(1px, -9px) rotate(-55deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(1px, -9px) rotate(-55deg);;
  }
}

.dagger {
  animation: dagger 1.5s ease;
  animation-fill-mode: forwards;
  transform-origin: top center;
}

@keyframes dagger {
  0%, 25% {
    transform: translate(-2px, -25px) scale(1.3);
  }
  45% {
    transform: translate(-2px, -30px) scale(1.35);
  }

  80% {
    transform: translate(-2px, 5px) scale(1.3);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-2px, 5px) scale(1.3);
  }
}

.winner {
  position: absolute;
  bottom: 0;
  color: $successColor;
  font-weight: bold;
  font-size: 11px;
  left: 50%;
  border: 2px solid;
  box-shadow: inset 0 0 20px 5px white;
  transform: rotate(10deg) translateX(-50%) scale(1.5);
  opacity: 0;
  animation: winner .3s ease-in;
  animation-delay: .6s; // To allow the dialog to close
  animation-fill-mode: forwards;
}

@keyframes winner {
  from {
    transform: rotate(10deg) translateX(-50%) scale(2);
    opacity: 1;
  }
  to {
    transform: rotate(10deg) translateX(-50%) scale(1);
    opacity: 1;
  }
}
