<form #form="ngForm" (submit)="requestReset()" class="bg-main">
  <sh-page [headerShadow]="false" [noRefresh]="true">
    <div shHeaderContent>Forgot Password</div>
    <div shHeaderLeft (click)="goBack()" *ngIf="isMobile$ | async">
      <fa-icon icon="chevron-left"></fa-icon>Back
    </div>
    <div shPageBody>
      <h1>Enter Your Email</h1>
      <h2>We will send you an email with instructions on how to reset your password.</h2>

      <vx-form-field>
        <input vxFormField type="email" #input tabIndex="1" placeholder="Email" [(ngModel)]="email" name="email" required
               autocomplete="email" email>
      </vx-form-field>

      <div class="buttons" *ngIf="!(isMobile$ | async); else mobileSignup">
        <button class="light" tabIndex="2" type="button" (click)="goBack()">Back</button>
        <button class="accentGreen" tabIndex="3" type="submit" [disabled]="form.invalid">Send Email</button>
      </div>

      <ng-template #mobileSignup>
        <button class="dBlock w100 accentGreen mTop15" type="submit" tabIndex="2" [disabled]="form.invalid">Send Email</button>
      </ng-template>
    </div>
  </sh-page>
</form>
