<sh-page [noRefresh]="true">

  <div shHeaderLeft (click)="goHome()" *ngIf="isMobile$ | async">
    <fa-icon icon="chevron-left"></fa-icon> Back
  </div>

  <div shNavItem (click)="goHome()" *ngIf="!(isMobile$ | async)">
    Home
  </div>

  <form shPageBody class="card" (submit)="resetPassword()" #form="ngForm">
    <h2>Reset Password</h2>

    <vx-form-field class="w100">
      <input vxFormField type="password" name="passwordReset" [(ngModel)]="password" placeholder="New Password" autocomplete="new-password" required>
    </vx-form-field>

    <button class="accentGreen w100 mTop15" [disabled]="form.invalid">Reset Password</button>
  </form>

</sh-page>
