
vx-form-field {
  margin-top: 15px;
  margin-left: 5px;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  > :first-child {
    flex-grow: 1;
  }
  > :not(:first-child) {
    flex: 1;
  }
}


.small {
  width: 130px;
}

.card-icon {
  font-size: 25px;
  padding-left: 7px;
}

vx-checkbox {
  margin-top: 15px;
  display: block;
  margin-left: 5px;
}
