vx-button-group {
  font-size: 13px;
  white-space: nowrap;
}

.privateGame {
  margin-bottom: 15px;
  text-align: center;
  input {
    width: 200px;
  }
}

.home-games, .home-referrals, .home-profile  {
  float:left;
}

.home-edit-profile {
  float:right;
}